@font-face {
  font-family: 'elements_basic';
  src: url('../font/elements_basic.eot?64227217');
  src: url('../font/elements_basic.eot?64227217#iefix') format('embedded-opentype'),
       url('../font/elements_basic.woff2?64227217') format('woff2'),
       url('../font/elements_basic.woff?64227217') format('woff'),
       url('../font/elements_basic.ttf?64227217') format('truetype'),
       url('../font/elements_basic.svg?64227217#elements_basic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'elements_basic';
    src: url('../font/elements_basic.svg?64227217#elements_basic') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "elements_basic";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-left-dir:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e807'; } /* '' */
.icon-left-circled:before { content: '\e808'; } /* '' */
.icon-right-circled:before { content: '\e809'; } /* '' */
.icon-up-circled:before { content: '\e80a'; } /* '' */
.icon-down-circled:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-angle-left:before { content: '\e810'; } /* '' */
.icon-angle-right:before { content: '\e811'; } /* '' */
.icon-angle-up:before { content: '\e812'; } /* '' */
.icon-angle-down:before { content: '\e813'; } /* '' */
.icon-angle-double-left:before { content: '\e814'; } /* '' */
.icon-angle-double-right:before { content: '\e815'; } /* '' */
.icon-angle-double-up:before { content: '\e816'; } /* '' */
.icon-angle-double-down:before { content: '\e817'; } /* '' */
.icon-angle-circled-left:before { content: '\e818'; } /* '' */
.icon-angle-circled-right:before { content: '\e819'; } /* '' */
.icon-angle-circled-up:before { content: '\e81a'; } /* '' */
.icon-angle-circled-down:before { content: '\e81b'; } /* '' */
.icon-attention:before { content: '\e81c'; } /* '' */
.icon-block:before { content: '\e81d'; } /* '' */
.icon-pencil:before { content: '\e81e'; } /* '' */
.icon-pin:before { content: '\e81f'; } /* '' */
.icon-resize-vertical:before { content: '\e820'; } /* '' */
.icon-resize-horizontal:before { content: '\e821'; } /* '' */
.icon-move:before { content: '\e822'; } /* '' */
.icon-resize-full-alt:before { content: '\e823'; } /* '' */
.icon-resize-full:before { content: '\e824'; } /* '' */
.icon-resize-small:before { content: '\e825'; } /* '' */
.icon-magnifying-glass:before { content: '\e826'; } /* '' */
.icon-zoom-in:before { content: '\e827'; } /* '' */
.icon-zoom-out:before { content: '\e828'; } /* '' */
.icon-volume-off:before { content: '\e829'; } /* '' */
.icon-volume-down:before { content: '\e82a'; } /* '' */
.icon-volume-up:before { content: '\e82b'; } /* '' */
.icon-cw:before { content: '\e82c'; } /* '' */
.icon-ccw:before { content: '\e82d'; } /* '' */
.icon-cycle:before { content: '\e82e'; } /* '' */
.icon-level-up:before { content: '\e82f'; } /* '' */
.icon-level-down:before { content: '\e830'; } /* '' */
.icon-shuffle:before { content: '\e831'; } /* '' */
.icon-exchange:before { content: '\e832'; } /* '' */
.icon-power:before { content: '\e833'; } /* '' */
.icon-play:before { content: '\e834'; } /* '' */
.icon-stop:before { content: '\e835'; } /* '' */
.icon-pause:before { content: '\e836'; } /* '' */
.icon-record:before { content: '\e837'; } /* '' */
.icon-to-end:before { content: '\e838'; } /* '' */
.icon-to-start:before { content: '\e839'; } /* '' */
.icon-fast-forward:before { content: '\e83a'; } /* '' */
.icon-fast-backward:before { content: '\e83b'; } /* '' */
.icon-wrench:before { content: '\e83c'; } /* '' */
.icon-trash:before { content: '\e83d'; } /* '' */
.icon-trash-empty:before { content: '\e83e'; } /* '' */
.icon-ok:before { content: '\e83f'; } /* '' */
.icon-cancel:before { content: '\e840'; } /* '' */
.icon-plus:before { content: '\e841'; } /* '' */
.icon-minus:before { content: '\e842'; } /* '' */
.icon-cog:before { content: '\e843'; } /* '' */
.icon-doc:before { content: '\e844'; } /* '' */
.icon-docs:before { content: '\e845'; } /* '' */
.icon-lock-open:before { content: '\e846'; } /* '' */
.icon-lock:before { content: '\e847'; } /* '' */
.icon-floppy:before { content: '\e848'; } /* '' */
.icon-attention-1:before { content: '\e849'; } /* '' */
.icon-info-circled:before { content: '\e84a'; } /* '' */
.icon-error-alt:before { content: '\e84b'; } /* '' */
.icon-help-circled:before { content: '\e84c'; } /* '' */
.icon-exchange-1:before { content: '\e84d'; } /* '' */
.icon-link:before { content: '\e84e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
