.highlight
{
    table td { padding: 5px; }
    table pre { margin: 0; }

    .bp    { color: #999 }                           // Name.Builtin.Pseudo
    .c     { color: #009926; font-style: italic }    // Comment
    .c1    { color: #009926; font-style: italic }    // Comment.Single
    .cm    { color: #009926; font-style: italic }    // Comment.Multiline
    .cp    { color: #c33f40; }                       // Comment.Preproc
    .cs    { color: #999; font-style: italic }       // Comment.Special
    .err   { color: #a61717 }                        // Error
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic }                      // Generic.Emph
    .gh    { color: #999 }                           // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 }                           // Generic.Output
    .gp    { color: #555 }                           // Generic.Prompt
    .gr    { color: #a00 }                           // Generic.Error
//  .gs    { }                                         // Generic.Strong
    .gt    { color: #a00 }                           // Generic.Traceback
    .gu    { color: #aaa }                           // Generic.Subheading
    .il    { color: #099 }                           // Literal.Number.Integer.Long
    .k     { color: #0000ff }                        // Keyword
//  .kc    { }                                         // Keyword.Constant
//  .kd    { }                                         // Keyword.Declaration
//  .kp    { }                                         // Keyword.Pseudo
    .kr    { color: #0000ff; }                       // Keyword.Reserved
    .kt    { color: #0000ff; }                       // Keyword.Type
    .m     { color: #099 }                           // Literal.Number
    .mf    { color: #099 }                           // Literal.Number.Float
    .mh    { color: #099 }                           // Literal.Number.Hex
    .mi    { color: #099 }                           // Literal.Number.Integer
    .mo    { color: #099 }                           // Literal.Number.Oct
    .n     { color: #000 }                           // Name
    .na    { color: #008080 }                        // Name.Attribute
    .nb    { color: #0086B3 }                        // Name.Builtin
    .nc    { color: #000; }                          // Name.Class
    .ne    { color: #900; }                          // Name.Exception
    .nf    { color: #900; }                          // Name.Function
    .ni    { color: #800080 }                        // Name.Entity
    .nl    { color: #0000ff }
    .nn    { color: #555 }                           // Name.Namespace
    .no    { color: #008080 }                        // Name.Constant
    .nt    { color: #000080 }                        // Name.Tag
    .nv    { color: #008080 }                        // Name.Variable
    .o     { color: #008080 }                        // Operator
    .ow    { color: #000080 }                        // Operator.Word
    .p     { color: #008000 }                        // Punctuation
    .s     { color: #d14 }                           // Literal.String
    .s1    { color: #d14 }                           // Literal.String.Single
    .s2    { color: #d14 }                           // Literal.String.Double
    .sb    { color: #d14 }                           // Literal.String.Backtick
    .sc    { color: #d14 }                           // Literal.String.Char
    .sd    { color: #d14 }                           // Literal.String.Doc
    .se    { color: #d14 }                           // Literal.String.Escape
    .sh    { color: #d14 }                           // Literal.String.Heredoc
    .si    { color: #d14 }                           // Literal.String.Interpol
    .sr    { color: #009926 }                        // Literal.String.Regex
    .ss    { color: #990073 }                        // Literal.String.Symbol
    .sx    { color: #d14 }                           // Literal.String.Other
    .vc    { color: #008080 }                        // Name.Variable.Class
    .vg    { color: #008080 }                        // Name.Variable.Global
    .vi    { color: #008080 }                        // Name.Variable.Instance
    .w     { color: #bbb }                           // Text.Whitespace
}
