---
---

@import "{{ site.theme }}";

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6
{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #152999e5;
}

.grid
{
    display: flex;
}

.col-1-2
{
    flex: 1;
    padding-right: 1rem;
}

.cole-1-2:last-child
{
    padding-left: 1rem;
}

img
{
    border-radius: 5px;
}

.main-content .highlight pre, .main-content pre
{
    background-color: #ffffff;
}

.highlight .cp,
.highlight .mi,
.highlight .n, .highlight .nf,
.highlight .o,
.highlight .p,
.highlight .k, .highlight .kt, .highlight .kv
{
    font-weight: normal;
}

.img-align-right
{
    float: right;
    margin-right: 1em;
    font-size: 11pt;
    text-align: center;
}

