# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

defaults:
- scope:
    path: ""
    type: "pages"
  values:
    layout: "default"

title: "Elements C++ GUI library"
email: djowel@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Elements is a lightweight, fine-grained, HDPI capable, resolution
  independent, modular C++ GUI library.
baseurl: "/elements" # the subpath of your site, e.g. /blog
url: "http://cycfi.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll
name: "Joel de Guzman"

# Build settings
markdown: kramdown
theme: jekyll-theme-cayman
plugins:
  - jekyll-feed
  - jemoji

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Using GitHub Jekyll v3.8.7, these are not ignored by default
exclude:
- elements.code-workspace
- Gemfile
- Gemfile.lock
- jekyll.sh
- README.md
